<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Edit Post</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="title">Title:</label>
        <input type="text" name="title" value="{{ post.title }}" required>
        <label for="content">Content:</label>
        <textarea name="content" required>{{ post.content }}</textarea>
        <label for="image">Image:</label>
        <input type="file" name="image">
        <button type="submit">Update</button>
    </form>     
    {% endblock %}

</body>

</html>