<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Blog Posts</h1>
    {% for post in posts %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    {% if post.image_filename %}
    <img src="{{ url_for('static', filename='images/' + post.image_filename) }}" alt="Post Image"
        style="max-width: 400px;">
    {% endif %}
    <p><small>Posted by {{ post.author.username }} on {{ post.upload_date.strftime('%Y-%m-%d %H:%M:%S') }}</small></p>
    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post" style="display:inline;">
        <button type="submit" onclick="return confirm('Apakah Anda yakin ingin menghapus postingan ini?');">Hapus</button>
    </form>
    <a href="{{ url_for('edit_post', post_id=post.id) }}">Edit</a>
    {% endfor %}
    {% endblock %}

</body>

</html>